h1 {
  color: black;
  text-align: center;
  margin-top: 60px;
  font-size: 50px;
  font-family: lobster;
}

h2 {
  color: black;
  text-align: center;
  font-size: 69px;
  font-family: lobster;
}

h3 {
  color: gray;
  text-align: center;
  font-size: 25px;
  font-family: lobster;
}

h4 {
  text-align: left;
  font-size: 45px;
}
p {
  color: black;
  text-align: left;
}

.homepage-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
  margin-bottom: 50px;
}

.homepage-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  font-family: lobster;
}

.contact-me {
  border: 1px solid purple;
  background-color: purple;
  font-family: lobster;
}

.about-me {
  border: 1px solid purple;
}

.applaunch-link {
  border: 1px solid purple;
  background-color: purple;
  font-family: lobster;
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
}

.img-md {
  max-width: 75%;
}

.img-container {
  background-color: pink;
  padding: 40px 0;
}
